html,
body {
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.2s linear;
}
#wrap {
    width: 100%;
    height: auto;
    position: relative;
    // touch-action: auto;
    // max-height: 100vh;
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;
    // &::-webkit-scrollbar {
    //     /*隱藏滾輪*/
    //     display: none;
    //     }
}
.page {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 50px;
}

#page4 {
    background: #2932e1;
}

#menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    backface-visibility: hidden;
    border-radius: 50%;
    z-index: 6;
    transition: all linear 0.2s;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    p {
        color: white;
        font-size: 10px;
    }
    .line_group {
        margin-top: 15px;
        width: 16px;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        span {
            margin-bottom: 5px;
            width: 2px;
            height: 10px;
            display: inline-block;
            background-color: #fff;
        }
    }
}

#menuList {
    width: 28.65vw;
    height: 28.65vw;
    position: fixed;
    top: 0.66vw;
    right: 0.66vw;
    z-index: 5;
    background-color: #001842;
    border-radius: 50%;
    backface-visibility: hidden;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    p {
        color: #fff;
    }
}
