.Mainpage {
    height: 100vh;
    background-color: #faf1dd;
    position: relative;
    overflow: hidden;
    @include hVCenterFlex();
    &_bigCircle {
        @include hVCenterScale(1);
        border-radius: 50%;
        background-color: #f5e5c0;
        z-index: 1;
        @include anim(bigCircleShow, 10s);
        @keyframes bigCircleShow {
            0% {
                opacity: 0;
                @include hVCenterScale(0);
            }
            40% {
                opacity: 0;
                @include hVCenterScale(0);
            }
            50% {
                opacity: 1;
                @include hVCenterScale(1);
            }
            100% {
                opacity: 1;
                @include hVCenterScale(1);
            }
        }
    }
    &_smallCircle {
        @include imgCover("../images/mv_titleBg@2x.png");
        border-radius: 50%;
        z-index: 4;
        overflow: hidden;
        @include anim(smallCircleShow, 10s);
        @keyframes smallCircleShow {
            0% {
                opacity: 0;
                transform: scale(0);
            }
            10% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
        &_loop {
            position: relative;
            margin: auto;
            @include imgCover("../images/mv_ribbon@2x.png");
            backface-visibility: hidden;
            @include anim(opacity, 10s);
            z-index: 1;
            @keyframes opacity {
                0% {
                    opacity: 0;
                    transform: rotate(180deg);
                }
                10% {
                    opacity: 0;
                    transform: rotate(180deg);
                }
                20% {
                    opacity: 1;
                    transform: rotate(0deg);
                }
                100% {
                    opacity: 1;
                    transform: rotate(0deg);
                }
            }
        }
        &_topArea {
            position: relative;
            height: 60%;
            text-align: center;
            &_title {
                width: 100%;
                position: absolute;
                left: 0;
                z-index: 4;
            }
            &_firttitle {
                text-align: center;
                img {
                    position: relative;
                    left: 0vw;
                    transform-origin: left;
                    @include anim(titleScale, 10s);
                    @keyframes titleScale {
                        0% {
                            opacity: 0;
                            transform: scale(0);
                        }
                        20% {
                            opacity: 0;
                            transform: scale(0);
                        }
                        25% {
                            opacity: 1;
                            transform: scale(1);
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            &_secondtitle {
                text-align: center;
                img {
                    position: relative;
                    transform-origin: left;
                    @include anim(secondtitleScale, 10s);
                    @keyframes secondtitleScale {
                        0% {
                            opacity: 0;
                            transform: scale(0);
                        }
                        25% {
                            opacity: 0;
                            transform: scale(0);
                        }
                        30% {
                            opacity: 1;
                            transform: scale(1);
                        }
                        100% {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
            &_whale {
                position: absolute;
                margin: auto;
                transform-origin: right bottom;
                @include imgCover("../images/mv_whale@2x.png");
                z-index: 2;
                @include anim(whaleMove, 10s);
                @keyframes whaleMove {
                    0% {
                        transform: translate(20%, 100%);
                    }
                    10% {
                        transform: translate(20%, 100%);
                    }
                    20% {
                        transform: translate(20%, 80%);
                    }
                    30% {
                        transform: translate(0px, -10%);
                        transform-origin: bottom right;
                    }
                    35% {
                        transform: translate(0px, 0px) rotate(-5deg);
                        transform-origin: bottom right;
                    }
                    40% {
                        transform: translate(0%, 0%);
                    }
                    100% {
                        transform: translate(0%, 0%);
                    }
                }
            }
            &_bigwave {
                position: absolute;
                left: 0;
                @include imgCover("../images/mv_wave_1.png");
                z-index: 1;
                @include anim(bigWaveMove, 10s);
                @keyframes bigWaveMove {
                    0% {
                        transform: translate(0%, 100%);
                    }
                    10% {
                        transform: translate(0%, 100%);
                    }
                    20% {
                        transform: translate(0%, 0%);
                    }
                    100% {
                        transform: translate(0%, 0%);
                    }
                }
            }
            &_smallwave {
                position: absolute;
                left: 0;
                @include imgCover("../images/mv_wave_2.png");
                z-index: 3;
                @include anim(smallWaveMove, 10s);
                @keyframes smallWaveMove {
                    0% {
                        transform: translate(0%, 100%);
                    }
                    20% {
                        transform: translate(0%, 100%);
                    }
                    30% {
                        transform: translate(0%, 0%);
                    }
                    100% {
                        transform: translate(0%, 0%);
                    }
                }
            }
            &_titleSub {
                position: absolute;
                z-index: 4;
                left: 0;
                right: 0;
                margin: auto;
                img {
                    width: 100%;
                    vertical-align: bottom;
                }
                @include anim(titleSubShow, 10s);
                @keyframes titleSubShow {
                    0% {
                        opacity: 0;
                        transform: translate(0, -20%);
                    }
                    15% {
                        opacity: 0;
                        transform: translate(0, -20%);
                    }
                    20% {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                    100% {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
            &_titleSerif {
                position: absolute;
                left: -28.25vw;
                right: 0;
                margin: auto;
                z-index: 4;
                img {
                    width: 100%;
                    vertical-align: bottom;
                }
                @include anim(titleSerifShow, 10s);
                @keyframes titleSerifShow {
                    0% {
                        opacity: 0;
                        transform: translate(0, -20%);
                    }
                    15% {
                        opacity: 0;
                        transform: translate(0, -20%);
                    }
                    20% {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                    100% {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
            }
        }
        &_bottomArea {
            position: relative;
            z-index: 3;
            height: 40%;
            text-align: center;
            background-color: #fff;
            p {
                padding: 1.31vw 0 0;
                line-height: 1.9;
                color: #001842;
                @include anim(bottomAreaParaph, 10s);
                @keyframes bottomAreaParaph {
                    0% {
                        opacity: 0;
                    }
                    20% {
                        opacity: 0;
                    }
                    21% {
                        opacity: 1;
                    }
                }
            }
            &_scroll {
                width: 6.52vw;
                height: 7.82vw;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                margin: auto;
                cursor: pointer;
                span {
                    width: 6.52vw;
                    height: 6.25vw;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url(../images/mv_scrollIcon@2x.png);
                    background-size: 3.78vw 6.25vw;
                    background-position: center;
                    background-repeat: no-repeat;
                    transform-origin: bottom;
                    transform: perspective(250px);
                    @include anim(scrollItemUpDown, 2s, 0s, infinite, both);
                    @keyframes scrollItemUpDown {
                        0% {
                            transform: rotateX(0) rotateZ(0.001deg);
                            -webkit-transform: rotateX(0) rotateZ(0.001deg);
                        }
                        10% {
                            transform: rotateX(-20deg) rotateZ(0.001deg);
                            -webkit-transform: rotateX(-20deg) rotateZ(0.001deg);
                        }
                        40% {
                            transform: rotateX(0) rotateZ(0.001deg);
                            -webkit-transform: rotateX(0) rotateZ(0.001deg);
                        }
                        100% {
                            transform: rotateX(0) rotateZ(0.001deg);
                            -webkit-transform: rotateX(0) rotateZ(0.001deg);
                        }
                    }
                }
            }
        }
    }
    &_circleArea {
        position: relative;
        @include hVCenter();
        z-index: 2;
        border-radius: 50%;
        @include anim(circleAreaShow, 10s);
        @keyframes circleAreaShow {
            0% {
                opacity: 0;
            }
            40% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        &_circleItem {
            position: absolute;
            border-radius: 50%;
        }
        &_circleOne {
            background-color: #1b3159;
        }
        &_circleTwo {
            background-color: #1b3159;
        }
        &_circleThree {
            background-color: #fff;
        }
        &_circleFour {
            background-color: #ce4948;
        }
        &_circleFive {
            width: 5.86vw;
            height: 5.86vw;
            top: 27.35vw;
            right: 8.86vw;
            background-color: #1b3159;
        }
        &_circleSix {
            background-color: #fff;
        }
        &_circleSeven {
            background-color: #ce4948;
        }
        &_circleEight {
            width: 11.33vw;
            height: 11.33vw;
            top: 44.28vw;
            right: 11.33vw;
            background-color: #ce4948;
        }
        &_circleNine {
            width: 1.31vw;
            height: 1.31vw;
            top: 55.73vw;
            right: 25vw;
            background-color: #1b3159;
        }
    }
    &_imageArea {
        position: relative;
        @include hVCenterScale(1);
        z-index: 3;
        border-radius: 50%;
        @include anim(circleAreaShow, 10s);
        @keyframes circleAreaShow {
            0% {
                opacity: 0;
                @include hVCenterScale(0);
            }
            50% {
                opacity: 0;
                @include hVCenterScale(0);
            }
            70% {
                opacity: 1;
                @include hVCenterScale(1);
            }
            100% {
                opacity: 1;
                @include hVCenterScale(1);
            }
        }
        img {
            width: 100%;
            vertical-align: bottom;
        }
        &_foodOne {
            position: absolute;
        }
        &_foodTwo {
            position: absolute;
        }
        &_foodThree {
            position: absolute;
            width: 14.98vw;
            height: 14.98vw;
            left: 13vw;
            bottom: 7vw;
        }
        &_foodFour {
            position: absolute;
            width: 19.54vw;
            height: 19.54vw;
            top: 9vw;
            right: -1vw;
        }
    }
}
